terratowns_endpoint="https://terratowns.cloud/api"
home_one{
    public_path = "/workspace/terraform-beginner-bootcamp-2023/public/home1/"
    content_version = 1
}
home_two{
    public_path = "/workspace/terraform-beginner-bootcamp-2023/public/home2/"
    content_version = 1
}
home_one_public_path ="/workspace/terraform-beginner-bootcamp-2023/public/home1/"
home_one_content_version=1
#home_two_content_version=1
